<!-- p-toast component -->
<p-toast></p-toast>

<!-- p-toolbar component -->
<p-toolbar styleClass="mb-4">
    <!-- left template -->
    <ng-template pTemplate="left">
        <div class="my-2">
            <!-- Add button -->
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <!-- Delete button -->
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedUsers()" [disabled]="!selectedUsers|| !selectedUsers.length"></button>
        </div>
    </ng-template>

    <!-- right template -->
    <ng-template pTemplate="right">
        <!-- file upload component -->
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
        <!-- export button -->
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
    </ng-template>
</p-toolbar>

<!-- card component -->
<div class="card">
    <!-- p-table component -->
    <p-table #dt [value]="users|filter:filtered" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsers"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <!-- caption template -->
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Liste des Utilisateurs</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <!-- search input -->
                    <input pInputText type="text" [(ngModel)]="filtered" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <!-- header template -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <!-- select all checkbox -->
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="fullName" class="white-space-nowrap" style="width:25%">Identifiant <p-sortIcon
                        field="fullName"></p-sortIcon></th>
                <th pSortableColumn="email" class="white-space-nowrap" style="width:25%">E-mail <p-sortIcon
                        field="email"></p-sortIcon></th>
                <th pSortableColumn="createdAt" class="white-space-nowrap" style="width:25%">Date de création<p-sortIcon
                        field="createdAt"></p-sortIcon></th>
                <th style="width:25%">Actions</th>
            </tr>
        </ng-template>
        <!-- body template -->
        <ng-template pTemplate="body" let-use>
            <tr>
                <td>
                    <p-tableCheckbox [value]="use"></p-tableCheckbox>
                </td>
                <td>{{use.login}}</td>
                <td>{{use.email}}</td>
                <td>{{use.createdAt | date: 'MM/dd/yyyy'}}</td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editUser(use.id)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteUser(use.id)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
     <!-- Dialog for creating or updating a user -->
    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Créer un compte d'utilisateur" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">Identifiant</label>
                <input type="text" pInputText id="name" [(ngModel)]="user.login" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.login}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.login">Identifiant est obligatoire.</small>
            </div>
            <div class="field">
                <label for="description">Rôle</label>
                <p-dropdown [(ngModel)]="user.role" optionValue="value" [options]="roleSelect" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field">
                <label for="name">E-mail</label>
                <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">E-mail est obligatoire.</small>
            </div>
            <div class="field">
                <label for="description">Mot de passe</label>
                <input type="password" id="email" pInputText [(ngModel)]="pass" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" />
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
                (click)="saveUser()"></button>
        </ng-template>
    </p-dialog>
        <!-- Dialog for deleting a  user -->
    <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="user">Voulez-vous vraiment supprimer cet utilisateur <b></b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteUserDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDelete()"></button>
        </ng-template>
    </p-dialog>
       <!-- Dialog for deleting selected users -->
    <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Voulez-vous vraiment supprimer l'utilisateurs sélectionnés ?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non"
                (click)="deleteUserDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui"
                (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>
</div>