<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedOperations()" [disabled]="!selectedOperation|| !selectedOperation.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="Operations|filter:filtered"  responsiveLayout="scroll" [rows]="10"
                
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [(selection)]="selectedOperation" >
             
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Catalogue</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text"   [(ngModel)]="filtered" placeholder="Search..." class="w-full sm:w-auto"/>
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="designation">Opération <p-sortIcon field="designation"></p-sortIcon></th>
                    <th pSortableColumn="createdAt">Code <p-sortIcon field="createdAt"></p-sortIcon></th>
                    <th pSortableColumn="createdBy" style="width: 5cm;">Département <p-sortIcon field="createdBy"></p-sortIcon></th>
                    <th pSortableColumn="createdBy">Famille <p-sortIcon field="createdBy"></p-sortIcon></th>
                    <th pSortableColumn="createdBy">Machine <p-sortIcon field="Localité"></p-sortIcon></th>
                    <th pSortableColumn="createdBy">Equipement <p-sortIcon field="Localité"></p-sortIcon></th>
                    <th pSortableColumn="createdBy">Ele-produit <p-sortIcon field="Localité"></p-sortIcon></th>
                    <th pSortableColumn="createdBy" style="text-align: center;">Temps <p-sortIcon field="Localité"></p-sortIcon></th>
                    <th pSortableColumn="createdBy">Type-suivie <p-sortIcon field="Localité"></p-sortIcon></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ope>
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="ope"></p-tableCheckbox>
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Rôle</span>
                      {{ope.designation}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Création</span>
                      {{ope.code}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Créé Par</span>
                      {{ope.departement}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Créé Par</span>
                      {{ope.FamilyID}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Localité</span>
                      {{ope.machineID}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Localité</span>
                      {{ope.equipmentID}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Localité</span>
                      {{ope.productElementID}}
                    </td>
                    <td style="width:14%; min-width:10rem;text-align: center;">
                      <span class="p-column-title">Localité</span>
                      {{ope.temps}}
                    </td>
                    <td style="width:14%; min-width:10rem;text-align: center;">
                      <span class="p-column-title">Localité</span>
                      {{ope.type}}
                    </td>
                    <td>
                      <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOperation(ope)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOperation(ope)"></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              
        </div>

        <p-dialog [(visible)]="OperationDialog" [style]="{width: '450px'}" header="Nouvelle Opération" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Nom d'Opération</label>
                    <input type="text" pInputText id="name" [(ngModel)]="ope.designation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ope.designation}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !ope.designation">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Code</label>
                    <input type="text" pInputText id="name" [(ngModel)]="ope.code" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ope.designation}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !ope.code">Code is required.</small>
                </div>
                <div class="field">
                    <label for="description">Departement</label>
                    
                    <p-dropdown [(ngModel)]="ope.departement" optionValue="label" [options]="departement" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.FamilyID" [class]="'chaine-badge status-' + ope.FamilyID.toString().toLowerCase()">{{ope.FamilyID}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>   
                </div>
                <div class="field">
                    <label for="description">Famille</label>
                    
                    <p-dropdown [(ngModel)]="ope.FamilyID" optionValue="label" [options]="family" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.FamilyID" [class]="'chaine-badge status-' + ope.FamilyID.toString().toLowerCase()">{{ope.FamilyID}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Machine</label>
                    <p-dropdown [(ngModel)]="ope.machineID" optionValue="label" [options]="machine" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.machineID" [class]="'chaine-badge status-' + ope.machineID.toString().toLowerCase()">{{ope.machineID}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Elément produit</label>
                
                    <p-dropdown [(ngModel)]="ope.productElementID" optionValue="label" [options]="element" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.productElementID" [class]="'chaine-badge status-' + ope.machineID.toString().toLowerCase()">{{ope.productElementID}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Equipment</label>
                    <p-dropdown [(ngModel)]="ope.equipmentID" optionValue="label" [options]="equipment" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.equipmentID" [class]="'chaine-badge status-' + ope.equipmentID.toString().toLowerCase()">{{ope.equipmentID}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Type de suivie</label>
                    <p-dropdown [(ngModel)]="ope.type" optionValue="label" [options]="status" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="ope && ope.type" [class]="'chaine-badge status-' + ope.type.toString().toLowerCase()">{{ope.type}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'chaine-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">temps</label>
                    <textarea type="Time" id="description" pInputTextarea [(ngModel)]="ope.temps" ></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveOperation()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOperationDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="ope">Are you sure you want to delete <b>{{ope.designation}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOperationDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOperationsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected Operations?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOperationsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
