<div class="col-12">
    <app-menu-chaine></app-menu-chaine>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <div class="col-12">
                <div class="my-2">
                    <h1
                        style="text-align: left ; font-family:Georgia, 'Times New Roman', Times, serif;margin-left:10px;">
                        Entreprise</h1>
                </div>
            </div>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedcompanys()"
                            [disabled]="!selectedcompanys || !selectedcompanys.length"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>


            </p-toolbar>
            <p-table #dt [value]="companys|filter:filtered" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedcompanys" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0"></h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="filtered" placeholder="Recherche..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem" scope="col">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code" scope="col">Nom<p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name" scope="col">Email<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name" scope="col">Address<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="category" scope="col">Phone<p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="category" scope="col">numéro d'enregistrement<p-sortIcon
                                field="category"></p-sortIcon></th>
                        <th pSortableColumn="category" scope="col">entête <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category" scope="col">bas page <p-sortIcon field="category"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-company>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="company"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nom Enterprise</span>

                            {{company.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Email </span>
                            {{company.email}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">address </span>
                            {{company.address}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">téléphone</span>
                            {{company.phone}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">numéro d'enregistrement</span>
                            {{company.registrationNumber}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">entête</span>
                            {{company.header }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">bas de page </span>
                            {{company.footer }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editcompany(company.id)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deletecompany(company.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="companyDialog" [style]="{width: '450px'}" header="company Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Nom Enterprise *</label>
                    <input type="text" pInputText id="name" [(ngModel)]="company.name" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.name">Nom de entreprise est
                        obligatoire</small>
                </div>
                <div class="field">
                    <label for="name">email *</label>
                    <input type="text" pInputText id="email" [(ngModel)]="company.email" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.email}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !company.email">Désignation est
                        obligatoire</small>
                </div>
                <div class="field ">
                    <label for="quantity">adress *</label>
                    <input type="text" id="adress" pInputText [(ngModel)]="company.address"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.address}">
                </div>
                <div class="field ">
                    <label for="country">Téléphone *</label>
                    <form #f="ngForm" [formGroup]="phoneForm">

                        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
                        </ngx-intl-tel-input>


                    </form>
                </div>

                <div class="field">
                    <label for="quantity">Logo</label>
                    <input type="file" class="form-control-file" id="imageUpload" pInputText
                        (change)="onFileSelected($event)">
                </div>


                <div class="field ">
                    <label for="quantity">numéro d'enregistrement *</label>
                    <input type="text" id="numero" pInputText [(ngModel)]="company.registrationNumber"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.registrationNumber}">
                </div>
                <div class="field ">
                    <label for="quantity">entête *</label>
                    <input type="text" id="entete" pInputText [(ngModel)]="company.header"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.header}">
                </div>
                <div class="field ">
                    <label for="quantity">bas de page *</label>
                    <input type="text" id="page" pInputText [(ngModel)]="company.footer"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !company.footer}">
                </div>




            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="enregistré" icon="pi pi-check" class="p-button-text"
                    (click)="savecompany()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletecompanyDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="company">Etes-vous sûr que vous voulez supprimer?<b>{{company.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletecompanyDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletecompanysDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment supprimer les entreprise sélectionnés?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletecompanysDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>