.float-container {
  
    padding: 20px;
    height: auto;
}

.float-child1 {
    width: 500px;
    float: left;
    padding: 20px;
   height: auto;
}  
.float-child2 {
    width: 1100px;
    float: left;
    padding: 20px;
   
}  