.layout-sidebar-darkgray {
    --d-sidebar-bg-color:rgba(234,234,234);
    --d-sidebar-bg-color-alt:rgba(234,234,234);
    --d-sidebar-border:0 none;
    --d-app-name-color:#141414;
    --d-menu-separator-border: 1px solid rgba(187, 152, 152, 0.2);
    --d-menuitem-root-text-color: #141414;
    --d-menuitem-text-color: #141414;
    --d-menuitem-hover-bg: #DCDCDC;
    --d-menuitem-active-bg: #e3e0e0;
    --d-menuitem-text-active-color: #141414;
    --d-menuitem-focus-shadow: 0 0 0 0.2rem rgba(134, 123, 123, 0.1);
}